<!DOCTYPE html>
<!--[if IE 8]> <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/foundation.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/leaderboard.css" />
    <script src="/js/vendor/custom.modernizr.js"></script>
</head>
<body>

<div class="row">
    <div class="large-12 columns">
        <h1 class="header text-center">Eye on the prize</h1>
        <div class="row">
            <div class="large-9 small-centered columns main">
                <p class="text-center">
                <table>
                    <thead>
                    <tr>
                        <th class="text-center" width="20px">Rank</th>
                        <th width="200">Screen name</th>
                        <th width="200">Total Stare Time</th>
                        <th class="text-center" width="20px">Wins</th>
                        <th class="text-center" width="20px">Loses</th>
                    </tr>
                    </thead>
                    <tbody>

                    <% for(var i = 0; i < Math.min(users.length, 10); i++){ %>
                    <tr>
                        <td class="text-center"><%= i + 1 %></td>
                        <td><%= users[i].name %></td>
                        <td class="time"><%= users[i].stareTime %></td>
                        <td class="text-center"><%= users[i].wins %></td>
                        <td class="text-center"><%= users[i].loses %></td>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    document.write('<script src=' +
            ('__proto__' in {} ? 'js/vendor/zepto' : 'js/vendor/jquery') +
            '.js><\/script>')
</script>

<script src="/js/foundation.min.js"></script>
<!--

<script src="js/foundation/foundation.js"></script>

<script src="js/foundation/foundation.alerts.js"></script>

<script src="js/foundation/foundation.clearing.js"></script>

<script src="js/foundation/foundation.cookie.js"></script>

<script src="js/foundation/foundation.dropdown.js"></script>

<script src="js/foundation/foundation.forms.js"></script>

<script src="js/foundation/foundation.joyride.js"></script>

<script src="js/foundation/foundation.magellan.js"></script>

<script src="js/foundation/foundation.orbit.js"></script>

<script src="js/foundation/foundation.reveal.js"></script>

<script src="js/foundation/foundation.section.js"></script>

<script src="js/foundation/foundation.tooltips.js"></script>

<script src="js/foundation/foundation.topbar.js"></script>

<script src="js/foundation/foundation.interchange.js"></script>

<script src="js/foundation/foundation.placeholder.js"></script>

-->

<script>

    function dhm(t){
        var cd = 24 * 60 * 60 * 1000,
                ch = 60 * 60 * 1000,
                d = Math.floor(t / cd),
                h = '0' + Math.floor( (t - d * cd) / ch),
                m = '0' + Math.round( (t - d * cd - h * ch) / 60000);
        return [d, h.substr(-2), m.substr(-2)].join(':');
    }

    $(document).foundation();
    $(document).ready(function(){
       console.log('sup');
       $('.time').each(function(index){


           var t = $(this).html();
           console.log(t);
            var adj = dhm(t);
            $(this).html(adj);
        });
    });
</script>

</body>
</html>